html, body {
    line-height: 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
}
.content-container {
    background-color: #EEE;
}

.sidebar {
    float: left;
    width: 268px;
    padding: 32px;
    background-color: #BCBCBC;
}
.sidebar.active {
    background-color: #5199DB;
}
.sidebar.cantMultiply {
    background-color: #F6C1C0;
}
.sidebar .errorMessage {
    display: none;
}
.sidebar.cantMultiply .errorMessage {
    display: block;
    color: #DA0902;
}

.content {
    float: left;
    padding: 5px;
    background-color: #ABC;
}

input {
    margin-bottom: 10px;
}
button {
    height: 40px;
    background-color: cyan;
    margin: 0 10px 10px 0;
}
button:hover {
    background-color: darkorange;
}
button:focus {
    background-color: darkcyan;
}
button[disabled] {
    background-color: darkblue;
}

#multiply {
    margin-bottom: 55px;
}
#multiply:after {
    content: '';
    display: inline-block;
    width: 13px;
}


.matrix {
    border: 1px solid black;
    float: left;
}
.matrix td {
    border: 0px solid gray;
}
.matrix input {
    margin: 3px;
    width: 50px;
    padding: 3px;
}
.clearfix:after {
    content: '';
    display: table;
    visibility: hidden;
    clear: both;
}