@font-face {
    font-family: 'Kontur-Iconic-eco';
    src: url('fonts/Kontur-Iconic-eco.eot');
    src: url('fonts/Kontur-Iconic-eco.eot') format('embedded-opentype'),
    url('fonts/Kontur-Iconic-eco.woff2') format('woff2'),
    url('fonts/Kontur-Iconic-eco.woff') format('woff'),
    url('fonts/Kontur-Iconic-eco.ttf') format('truetype'),
    url('fonts/Kontur-Iconic-eco.svg#Kontur-Iconic-eco') format('svg');
    font-style: normal;
    font-weight: normal;
}
html, body {
    height: 100%;
}
body {
    line-height: 20px;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 14px;
    color: #404040;
    font-kerning: normal;
    -webkit-font-kerning: normal;
    text-rendering: optimizeLegibility;
}
.content-container {
    position: relative;
    min-height: 100%;
}
.sidebar {
    position: absolute;
    min-height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 332px;
    padding: 31px 32px 40px;
    background-color: #BCBCBC;
}
.sidebar.active {
    background-color: #5199DB;
}
.sidebar.error {
    background-color: #F6C1C0;
}
.content {
    margin-left: 332px;
    padding: 15px 5px 5px 40px;
}

.action-menu {
    margin-bottom: 65px;
}
.action-menu button[type="submit"] {
    margin-bottom: 55px;
}
.action-menu button[type="reset"] {
    margin-bottom: 10px;
}
.matrix-choice-menu {
    margin-bottom: 15px;
}
.size-menu {
    margin-bottom: 44px;
}
.row-menu {
    margin-bottom: 10px;
}
.sidebar .error-message {
    color: #DA0902;
    display: none;
}
.sidebar.error .error-message {
    display: block;
}

.undo-icon::before, .swap-icon::before, .add-icon::before, .minus-icon::before {
    font-family: "Kontur-Iconic-eco", sans-serif;
    margin-right: 4px;
}
.undo-icon::before { content: '\E012'; }
.swap-icon::before { content: '\E01F'; }
.add-icon::before { content: '\E00D'; }
.minus-icon::before { content: '\E01E'; }

button::-moz-focus-inner {
    padding: 0;
    border: 0
}
input, button {
    line-height: 20px;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 14px;
    font-kerning: normal;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    background-clip: padding-box;
}
input, button, input[type="radio"] + label {
    outline: none !important;
}

input::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.17) !important; }
input:-moz-placeholder      { color: rgba(0, 0, 0, 0.17) !important; }
input::-moz-placeholder     { color: rgba(0, 0, 0, 0.17) !important; }
input:-ms-input-placeholder { color: rgba(0, 0, 0, 0.17) !important; }

input[type="text"] {
    color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
input[type="text"]:focus {
    border-radius: 1px;
    color: #000;
}
.result-matrix input[type="text"][disabled] {
    color: #000;
}

input[type="radio"] {
    display: inline-block;
    padding: 0;
    margin: 0 8px 0 1px;
    cursor: pointer;
}
input[type="radio"] + label {
    display: inline-block;
    position: relative;
    line-height: 100%;
    margin: 0 16px 0 0;
    white-space: nowrap;
}
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -22px;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    background-color: #F2F2F2;
    background-clip: padding-box;
}
input[type="radio"]:checked + label::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 8px;
    width: 8px;
    top: 3px;
    left: -18px;
    border-radius: 100%;
    background-color: #404040;
}

button {
    height: 30px;
    margin-right: 10px;
    padding: 2px 8px 4px 6px;
    border-radius: 2px;
    color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.3);
}
button, input[type="radio"] + label::before {
    background-color: #F5F5F5;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE',endColorstr='#ECECEC')";
    background: -webkit-linear-gradient(top, #FEFEFE, #ECECEC);
    background:    -moz-linear-gradient(top, #FEFEFE, #ECECEC);
    background:      -o-linear-gradient(top, #FEFEFE, #ECECEC);
    background:         linear-gradient(to bottom, #FEFEFE, #ECECEC);
    background-clip: padding-box;
}
button:hover, input[type="radio"] + label:hover::before {
    background-color: #E8E8E8;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2',endColorstr='#DFDFDF')";
    background: -webkit-linear-gradient(top, #F2F2F2, #DFDFDF);
    background:    -moz-linear-gradient(top, #F2F2F2, #DFDFDF);
    background:      -o-linear-gradient(top, #F2F2F2, #DFDFDF);
    background:         linear-gradient(to bottom, #F2F2F2, #DFDFDF);
    background-clip: padding-box;
}

button.continueButton {
    position: relative;
    height: 40px;
    font-size: 16px;
    padding: 2px 17px 5px 19px;
    border-radius: 3px 6px 6px 3px;
    overflow: visible; /*для IE*/
    left: 1px; /*ошибка макета?*/
}
button.continueButton::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    right: -10px;
    border-radius: 2px 3px 2px 2px;
    border: 1px solid;
    border-color: inherit;
    border-bottom-style: none;
    border-left-style: none;
    outline: none !important;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
       -moz-transform: rotate(45deg) skew(15deg, 15deg);
        -ms-transform: rotate(45deg) skew(15deg, 15deg);
            transform: rotate(45deg) skew(15deg, 15deg);
    background-color: #E8E8E8;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE',endColorstr='#ECECEC')";
    background: -webkit-linear-gradient(top left, #FEFEFE, #ECECEC);
    background:    -moz-linear-gradient(top left, #FEFEFE, #ECECEC);
    background:      -o-linear-gradient(top left, #FEFEFE, #ECECEC);
    background:         linear-gradient(to bottom right, #FEFEFE, #ECECEC);
    background-clip: padding-box;
}
button.continueButton:hover::after {
    background-color: #E8E8E8;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2',endColorstr='#DFDFDF')";
    background: -webkit-linear-gradient(top left, #F2F2F2, #DFDFDF);
    background:    -moz-linear-gradient(top left, #F2F2F2, #DFDFDF);
    background:      -o-linear-gradient(top left, #F2F2F2, #DFDFDF);
    background:         linear-gradient(to bottom right, #F2F2F2, #DFDFDF);
    background-clip: padding-box;
}

button[type="submit"] {
    color: #FFF;
    border-color: rgba(26, 103, 6, 0.7);
    border-bottom-color: rgba(22, 80, 7, 0.8);
    background-color: #419D14;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BA91D',endColorstr='#38920C')";
    background: -webkit-linear-gradient(top, #4BA91D, #38920C);
    background:    -moz-linear-gradient(top, #4BA91D, #38920C);
    background:      -o-linear-gradient(top, #4BA91D, #38920C);
    background:         linear-gradient(to bottom, #4BA91D, #38920C);
    background-clip: padding-box;
}
button[type="submit"]:hover {
    border-color: rgba(8, 73, 2, 0.7);
    border-bottom-color: rgba(19, 71, 4, 0.8);
    background-color: #36850F;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B8D13',endColorstr='#317E0B')";
    background: -webkit-linear-gradient(top, #3B8D13, #317E0B);
    background:    -moz-linear-gradient(top, #3B8D13, #317E0B);
    background:      -o-linear-gradient(top, #3B8D13, #317E0B);
    background:         linear-gradient(to bottom, #3B8D13, #317E0B);
    background-clip: padding-box;
}

button.continueButton[type="submit"]::after {
    background-color: #419D14;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BA91D',endColorstr='#38920C')";
    background: -webkit-linear-gradient(top left, #4BA91D, #38920C);
    background:    -moz-linear-gradient(top left, #4BA91D, #38920C);
    background:      -o-linear-gradient(top left, #4BA91D, #38920C);
    background:         linear-gradient(to bottom right, #4BA91D, #38920C);
    background-clip: padding-box;
}
button.continueButton[type="submit"]:hover::after {
    background-color: #36850F;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B8D13',endColorstr='#317E0B')";
    background: -webkit-linear-gradient(top left, #3B8D13, #317E0B);
    background:    -moz-linear-gradient(top left, #3B8D13, #317E0B);
    background:      -o-linear-gradient(top left, #3B8D13, #317E0B);
    background:         linear-gradient(to bottom right, #3B8D13, #317E0B);
    background-clip: padding-box;
}

button:focus, button[type="submit"]:focus, button.continueButton:focus,
input[type="text"]:focus, input[type="radio"]:focus + label::before {
    border-color: #5199db;
    -webkit-box-shadow: 0 0 0 1px #5199db, inset 0 0 0 1px #fff;
       -moz-box-shadow: 0 0 0 1px #5199db, inset 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #5199db, inset 0 0 0 1px #fff;
}

button:active, button.continueButton:active, input[type="radio"] + label:active::before {
    background-color: #D9D9D9;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.15);
}
button[type="submit"]:active {
    background-color: #35840E;
    border-color: rgba(7, 57, 0, 0.7);
    border-top-color: rgba(13, 40, 0, 0.8);
    -webkit-box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 2px 1px -1px rgba(0, 0, 0, 0.3);
}
button:active, button.continueButton:active, input[type="radio"] + label:active::before,
button[type="submit"]:active {
    background-image: none; /*remove gradient*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background-clip: padding-box;
}

button[disabled], button.continueButton[type="submit"][disabled],
input[type="text"][disabled], input[type="radio"][disabled] + label::before {
    background-image: none; /*remove gradient*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background-color: #F2F2F2;
    color: #808080;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
}

button.continueButton:focus::after, button.continueButton[type="submit"]:focus::after {
    right: -9px;
    border-color: #fff;
    -webkit-box-shadow: 2px -2px 0 0 #5199db;
       -moz-box-shadow: 2px -2px 0 0 #5199db;
            box-shadow: 2px -2px 0 0 #5199db;
}
button.continueButton:active::after, button.continueButton[type="submit"]:active::after,
button.continueButton[disabled]::after, button.continueButton[type="submit"][disabled]::after {
    right: -10px;
    background: inherit;
    border-color: inherit;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    background-image: none; /*remove gradient*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
    background-clip: padding-box;
}

.top-matrices {
    white-space: nowrap;
}
.top-matrices .matrix {
    display: inline-table;
}
.top-matrices .matrix, .top-matrices span {
    vertical-align: middle;
}
.bottom-matrices {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
}
.content span {
    font-size: 28px;
    color: #404040;
}

.matrix {
    position: relative;
}
.matrix:before, .matrix:after {
    content: '';
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    border: 2px solid #404040;
}
.matrix:before {
    left: 0;
    border-right: none;
}
.matrix:after {
    right: 0;
    border-left: none;
}

.matrix-a {
    margin: 0 20px 0 40px;
}
.matrix-b {
    margin-bottom: 17px;
}
.matrix table {
    border-collapse: separate;
    border-spacing: 10px;
}
.matrix input {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0 1px;
}
