@font-face {
    font-family: 'Kontur-Iconic-eco';
    src: url('fonts/Kontur-Iconic-eco.eot');
    src: url('fonts/Kontur-Iconic-eco.eot') format('embedded-opentype'),
        url('fonts/Kontur-Iconic-eco.woff2') format('woff2'),
        url('fonts/Kontur-Iconic-eco.woff') format('woff'),
        url('fonts/Kontur-Iconic-eco.ttf') format('truetype'),
        url('fonts/Kontur-Iconic-eco.svg#Kontur-Iconic-eco') format('svg');
}
@font-face {
    font-family: 'Segoe UI Regular';
    src: url('fonts/SegoeUIRegular.eot');
    src: url('fonts/SegoeUIRegular.eot') format('embedded-opentype'),
    url('fonts/SegoeUIRegular.woff2') format('woff2'),
    url('fonts/SegoeUIRegular.woff') format('woff'),
    url('fonts/SegoeUIRegular.ttf') format('truetype'),
    url('fonts/SegoeUIRegular.svg#SegoeUIRegular') format('svg');
}
html, body {
    height: 100%;
}
body {
    line-height: 20px;
    font-family: "Segoe UI Regular", "Segoe UI", "Arial", sans-serif;
    font-size: 14px;
    font-kerning: normal;
    -webkit-font-kerning: normal;
    text-rendering: optimizeLegibility;
}
.content-container {
    position: relative;
    min-height: 100%;
}
.sidebar {
    position: absolute;
    min-height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 332px;
    padding: 31px 40px 40px 32px;
    background-color: #BCBCBC;
}
.sidebar.active {
    background-color: #5199DB;
}
.sidebar.error {
    background-color: #F6C1C0;
}
.content {
    margin-left: 332px;
    padding: 15px 5px 5px 40px;
}

.action-menu {
    margin-bottom: 64px;
}
.action-menu button[type="submit"] {
    margin-bottom: 55px;
}
.action-menu button[type="reset"] {
    margin-bottom: 10px;
}
.matrix-choice-menu {
    margin-bottom: 16px;
}
.size-menu {
    margin-bottom: 44px;
}
.row-menu {
    margin-bottom: 10px;
}
.sidebar .error-message {
    color: #DA0902;
    display: none;
}
.sidebar.error .error-message {
    display: block;
}

.undo-icon:before, .swap-icon:before, .add-icon:before, .minus-icon:before {
    font-family: "Kontur-Iconic-eco", sans-serif;
    margin-right: 4px;
}
.undo-icon:before { content: '\E012'; }
.swap-icon:before { content: '\E01F'; }
.add-icon:before { content: '\E00D'; }
.minus-icon:before { content: '\E01E'; }

input, button {
    line-height: 20px;
    font-family: "Segoe UI Regular", "Segoe UI", "Arial", sans-serif;
    font-size: 14px;
    font-kerning: normal;
}

input[type="text"] {
    color: #404040;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    box-shadow: inset 0 1px #F2F2F2;
}
input[type="text"][disabled] {
    color: #C9C9C9;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #F2F2F2;
    box-shadow: none;
}
input[type="text"]:focus {
    color: #000;
    outline: 2px solid #5199DB;
    border: 1px solid rgba(1, 1, 1, 0.15);
    background-color: #FFF;
    box-shadow: none;
}
.result-matrix input[type="text"][disabled] {
    color: #000;
}

button {
    height: 30px;
    margin-right: 10px;
    padding: 0 8px 2px 6px;
    color: #404040;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background-color: #ECECEC;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC',endColorstr='#FEFEFE');
    background: -webkit-linear-gradient(#ECECEC, #FEFEFE);
    background:    -moz-linear-gradient(#ECECEC, #FEFEFE);
    background:      -o-linear-gradient(#ECECEC, #FEFEFE);
    background:         linear-gradient(#ECECEC, #FEFEFE);
}
button[disabled] {
    color: #808080;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #F2F2F2;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2',endColorstr='#F2F2F2');
    background: -webkit-linear-gradient(#F2F2F2, #F2F2F2);
    background:    -moz-linear-gradient(#F2F2F2, #F2F2F2);
    background:      -o-linear-gradient(#F2F2F2, #F2F2F2);
    background:         linear-gradient(#F2F2F2, #F2F2F2);
}
button:focus {
    outline: 2px solid #5199DB;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: #ECECEC;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ECECEC',endColorstr='#FDFDFD');
    background: -webkit-linear-gradient(#ECECEC, #FDFDFD);
    background:    -moz-linear-gradient(#ECECEC, #FDFDFD);
    background:      -o-linear-gradient(#ECECEC, #FDFDFD);
    background:         linear-gradient(#ECECEC, #FDFDFD);
}
button:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background-color: #DFDFDF;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF',endColorstr='#DFDFDF');
    background: -webkit-linear-gradient(#DFDFDF, #DFDFDF);
    background:    -moz-linear-gradient(#DFDFDF, #DFDFDF);
    background:      -o-linear-gradient(#DFDFDF, #DFDFDF);
    background:         linear-gradient(#DFDFDF, #DFDFDF);
}
button:active {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.35);
    background-color: #D9D9D9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9D9D9',endColorstr='#D9D9D9');
    background: -webkit-linear-gradient(#D9D9D9, #D9D9D9);
    background:    -moz-linear-gradient(#D9D9D9, #D9D9D9);
    background:      -o-linear-gradient(#D9D9D9, #D9D9D9);
    background:         linear-gradient(#D9D9D9, #D9D9D9);
}

button.green {
    height: 36px;
    color: #FFF;
    padding-left: 19px;
    padding-right: 18px;
    border: 1px solid rgba(92, 130, 62, 0.7);
    border-bottom-color: rgba(22, 80, 7, 0.8);
    background-color: #4BA91D;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BA91D',endColorstr='#38920C');
    background: -webkit-linear-gradient(#4BA91D, #38920C);
    background:    -moz-linear-gradient(#4BA91D, #38920C);
    background:      -o-linear-gradient(#4BA91D, #38920C);
    background:         linear-gradient(#4BA91D, #38920C);
}
button.green:hover {
    border: 1px solid rgba(8, 73, 2, 0.7);
    border-bottom-color: rgba(19, 71, 4, 0.8);
    background-color: #3B8D13;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B8D13',endColorstr='#317E0B');
    background: -webkit-linear-gradient(#3B8D13, #317E0B);
    background:    -moz-linear-gradient(#3B8D13, #317E0B);
    background:      -o-linear-gradient(#3B8D13, #317E0B);
    background:         linear-gradient(#3B8D13, #317E0B);
}
button.green:active {
    border: 1px solid rgba(7, 57, 0, 0.7);
    border-top-color: rgba(13, 40, 0, 0.8);
    background-color: #35840E;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35840E',endColorstr='#35840E');
    background: -webkit-linear-gradient(#35840E, #35840E);
    background:    -moz-linear-gradient(#35840E, #35840E);
    background:      -o-linear-gradient(#35840E, #35840E);
    background:         linear-gradient(#35840E, #35840E);
}

button.pointed {
    height: 36px;
    position: relative;
    padding-left: 19px;
    padding-right: 15px;
    left: 1px;
}
button.pointed::before {
    content: "";
    position: absolute;
    width: 18px; height: 18px;
    top: 21.1%; right: -9px;
    border-radius: 2px;
    border: inherit;
    border-bottom: none;
    border-left: none;
    background: inherit;
    -webkit-transform: rotate(45deg) skew(16deg, 16deg);
       -moz-transform: rotate(45deg) skew(16deg, 16deg);
        -ms-transform: rotate(45deg) skew(16deg, 16deg);
            transform: rotate(45deg) skew(16deg, 16deg);
}
button.pointed.large::before {
    width: 21px; height: 21px;
    top: 20.5%; right: -12px;
}
button.pointed.green::before {
    background-color: #4BA91D;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BA91D',endColorstr='#38920C');
    background: -webkit-linear-gradient(top left, #4BA91D, #38920C 110%);
    background:    -moz-linear-gradient(top left, #4BA91D, #38920C 110%);
    background:      -o-linear-gradient(top left, #4BA91D, #38920C 110%);
    background:         linear-gradient(to bottom right, #4BA91D, #38920C 110%);
}
button.pointed.green:hover::before {
    background-color: #3B8D13;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B8D13',endColorstr='#317E0B');
    background: -webkit-linear-gradient(top left, #3B8D13, #317E0B 110%);
    background:    -moz-linear-gradient(top left, #3B8D13, #317E0B 110%);
    background:      -o-linear-gradient(top left, #3B8D13, #317E0B 110%);
    background:         linear-gradient(to bottom right, #3B8D13, #317E0B 110%);
}
button.pointed.green:active::before {
    background-color: #35840E;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#35840E',endColorstr='#35840E');
    background: -webkit-linear-gradient(top left, #35840E, #35840E 110%);
    background:    -moz-linear-gradient(top left, #35840E, #35840E 110%);
    background:      -o-linear-gradient(top left, #35840E, #35840E 110%);
    background:         linear-gradient(to bottom right, #35840E, #35840E 110%);
}

button.large {
    height: 40px;
    font-size: 16px;
    padding-bottom: 4px;
}

.top-matrices {
    white-space: nowrap;
}
.top-matrices .matrix {
    display: inline-table;
}
.top-matrices .matrix, .top-matrices span {
    vertical-align: middle;
}
.bottom-matrices {
    display: inline-block;
    text-align: center;
    margin-top: 40px;
}
.content span {
    font-size: 28px;
    color: #404040;
}

.matrix {
    position: relative;
}
.matrix:before, .matrix:after {
    content: '';
    position: absolute;
    width: 8px;
    top: 0;
    bottom: 0;
    border: 2px solid #404040;
}
.matrix:before {
    left: 0;
    border-right: none;
}
.matrix:after {
    right: 0;
    border-left: none;
}

.matrix-a {
    margin: 0 20px 0 40px;
}
.matrix-b {
    margin-bottom: 17px;
}
.matrix table {
    border-collapse: separate;
    border-spacing: 10px;
}
.matrix input {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px 0 1px;
}
